<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<h2>Current user</h2>

<%= current_user.inspect %>

<% if current_user%>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <!-- true -->
<% else %>

<%= link_to "Login", new_user_session_path%>
<%= link_to "Register", new_user_registration_path %>
  <!-- false -->
<% end %>
